.content{
    max-width: 1344px;
    position: relative;
    left: 276px;
    display: flex;
    justify-content: space-between;
}

.Heading{
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.leftbollywoodmenu{
    position: relative;
    left:0px; 
    
}

.rightbollywoodmenu{
    position: relative;
    right:0px; 
    max-width: 450px;
}

.top_post_text{
    margin-right: 90px;
    font: normal normal 40px/40px Montserrat;
    font-weight: 600;
}


.top_post_articles{
    max-width: 284px;
    position: relative;
}

.top_post_articles:hover{
    cursor: pointer;
}

.top_post_articles::after {
    content: "";
    position:absolute;
    bottom: 10px;
    display: block;
    height: 1.5px;
    background: #908D8D;
    width: 300px;
    left: 0px;
    opacity: 25%;
 
 }
.articles{
    display : flex;
    position:relative;
    width:800px;
    margin-bottom: 100px;
   height:200px;
   justify-content: space-between;
   text-decoration: none;
}

.articles:hover{
    cursor: pointer;
}

.articles::after {
   content: "";
   position:absolute;
   top: 260px;
   display: block;
   height: 1.5px;
   background: #908D8D;
   width: 1000px;
   left: -60px;
   opacity: 25%;

}

.bollywoodtext{
    font: normal normal 40px/40px Montserrat;
    font-weight: 600;
    position: relative;
    
}

.article_detail{
    display :flex;
   
}

.article_text{
    width:600px;
    margin-left: 50px;
    text-decoration: none;
}

.article_image{
    width : 300px;
    height : 200px;
}

.article_date{
    margin-top: 21px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.article_title{
    padding : 0px;
    margin : 0px;
    font: normal normal medium Montserrat;
    font-size:24px;
    font-weight: 600;
    color: black;
}

.article_description{
    font-size: 15px;
    color: #908D8D;
    text-decoration: none;
}

.ad{
    height: 500px;
    width: 284px;
    border: black 1px solid;

}

.top_post_articles_title{
    padding : 0px;
    margin : 0px;
    font: normal normal medium Montserrat;
    font-size:24px;
    font-weight: 600;
    color: black;
}

.top_post_articles_image{
    width:280px;
    height: 165px;
}
    



.anchor{
    text-decoration: none;
}